{% load user_filters %}
{% if user.is_authenticated %}
  <div class="card my-4">
    <h5 class="card-header">Добавить комментарий:</h5>
    <div class="card-body">
      <form method="post" action="{% url 'posts:add_comment' posts.id %}">
        {% csrf_token %}
        <div class="form-group row my-1 p-3">
          {{ form.text|addclass:'txta' }}
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
      </form>
    </div>
  </div>
{% endif %}
{% if comment_cnt != 0 %}
  <h5>Комментарии:</h5>
{% endif %}
{% for comment in comments %}
<div class="card">
  <div class="media mb-0">
    <div class="right">
        {{ comment.created|date:"d E Y, H:i" }}
    </div>
    <div class="left">
        <a href="{% url 'posts:profile' comment.author.username %}" class="test_style">
          @{{ comment.author.username }}
        </a>
    </div>
    <p class="justify">{{ comment.text }}</p>
  </div>
</div>
{% if not forloop.last %}<br>{% endif %}
{% endfor %} 