{% load static %}
<nav class="navbar_group navbar-light">
  <div class="container">
    <a class="navbar-brand" href="{% url 'posts:index' %}">
      <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
      <span style="color:red">Ya</span><span class="tube">tube</span></a>
    </a>
    <ul class ="nav nav-pills">
      <li class="nav-item">
        <a class="head_swt" href="/auth/login/">Войти</a>
      </li>
      <li class="nav-item">
        <a class="head_swt" href="/auth/signup/">Регистрация</a>
      </li>
    <button id="theme-toggle">
      <svg class="sun" aria-hidden="true" width="24" height="24" viewBox="0 0 24 24">
        <circle class="sun" cx="12" cy="12" r="6.4" />
        <g class="sun-beams" stroke="currentColor">
          <line x1="12" y1="1" x2="12" y2="3" />
          <line x1="12" y1="21" x2="12" y2="23" />
          <line x1="4.22" y1="4.22" x2="5.64" y2="5.64" />
          <line x1="18.36" y1="18.36" x2="19.78" y2="19.78" />
          <line x1="1" y1="12" x2="3" y2="12" />
          <line x1="21" y1="12" x2="23" y2="12" />
          <line x1="4.22" y1="19.78" x2="5.64" y2="18.36" />
          <line x1="18.36" y1="5.64" x2="19.78" y2="4.22" />
        </g>
      </svg>
    </button>
    </ul>
  </div>
</nav>