{% load static %}
<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" href="{% url 'posts:index' %}">
      <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
      <span style="color:red">Ya</span><span class="tube">tube</span></a>
    </a>
    <div class="nav nav-pills">
      <div class="nav-item">
        <a class="head_swt" href="/auth/login/">Войти</a>
      </div>
      <div class="nav-item">
        <a class="head_swt" href="/auth/signup/">Регистрация</a>
      </div>
    </div>
    <div class="MenuButton">
      <button id="theme-toggle">
        <img src="{% static 'img/mode/moon.png' %}" id="tt-img"
      </button>
    </div>
  </div>
</nav>