#theme-toggle {
    background-color: lightskyblue;
    background: none;
    border: none;
    padding: 0;
    border-radius: 50%;
    -webkit-transition: -webkit-transform .2s ease-in-out;
            transition:         transform .2s ease-in-out;
}
#theme-toggle:hover {
    -webkit-transform: rotate(40deg); /* Градусы поворота  */
            transform: rotate(40deg);
}
#tt-img{
    width: 26px;
}