div.card {
    transition: 0.5s;
    color: #fff;
    padding: 17px 16px 15px 16px;
    border: 1px solid lightskyblue;
    border-radius: 0.55em;
    background-color: rgb(36, 36, 36);
}
.justify {
    text-align: justify;
    white-space: pre-line;
    word-wrap: break-word;
    margin-top: 5px;
}
.footer {
    margin-bottom: -0.3%;
    margin-top: -0.3%;
}
.contents {
    font-family: Arial;
}
.left {
    float: left; 
}
.right {
    text-align: right;
}
html, body {
    height: 100%;
}
.wrapper {
    color: #fff;
    transition: 0.5s;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(36, 36, 36);
}
.main {
    flex: 1 1 auto;
}
#theme-toggle {
    background-color: lightskyblue;
    background: none;
    border: none;
    padding: 0;
}
.test_style {
    color: #00aeff;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}
.test_style:hover {
    color: rgb(25, 0, 255);
}