.link_about {
    color: #000;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}
.link_about:hover {
    transition: 0s;
    color: #00aeff;
}

/* DARK MODE */

body.dark .link_about {
    color: #fff;
}
body.dark .link_about:hover {
    transition: 0s;
    color: #00aeff;
}