body.dark .page-link {
    border-color: #ced4da;
    background-color: rgba(202, 202, 202, 0.147);
    color: #fff;
}
body.dark .page-link:hover{
    background-color: #7a7d80;
}
body.dark .page-item.active .page-link {
    background-color: #ced4da;
    border-color: #ced4da;
    color: #000;
}