.navbar {
    transition: 0.5s;
    background-image: url('https://images.pexels.com/photos/3789871/pexels-photo-3789871.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-attachment: fixed; 
}
.head_swt {
    color: rgb(98, 98, 98);
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 17px;
}
.head_swt:after {
    position: relative;
    display: block;
    content: "";
    background-color: #000000;
    height: 3px;
    width: 0%;
    left: 50%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}
.head_swt:hover:after,
.head_swt:focus:after {
    width: 100%;
}
.head_swt:hover{
    color: #000;
}
.head_swt.active {
    color: #000;
}
.navbar_group {
    display: flex;
    transition: 0.5s;
    background-color: lightskyblue;
}
div.card {
    color: #000;
    transition: 0.5s;
    padding: 17px 16px 15px 16px;
    border: 1px solid lightskyblue;
    border-radius: 0.55em;
}
div.card_logget {
    color: #000;
    transition: 0.5s;
    border: 1px solid lightskyblue;
    border-radius: 0.55em;
}
.justify {
    text-align: justify;
    white-space: pre-line;
    word-wrap: break-word;
    margin-top: 5px;
}
.footer {
    margin-bottom: -0.3%;
    margin-top: -0.3%;
}
.contents {
    font-family: Arial;
}
.left {
    float: left; 
}
.right {
    text-align: right;
}
html, body {
    height: 100%;
}
.wrapper {
    color: #000;
    transition: 0.5s;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.main {
    flex: 1 1 auto;
    overflow: hidden;  /* removed bottom scroll in /auth/logout/ */
}
.test_style {
    color: rgb(25, 0, 255);
    position: relative;
    cursor: pointer;
    text-decoration: none;
}
.test_style:hover {
    color: #00aeff;
}
.parallax {
    transition: 0.5s;
    background-image: url('https://images.pexels.com/photos/3789871/pexels-photo-3789871.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    height: 250px;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 60px;
    align-items: center;
    position: relative;
}
.parallax .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.sigmar {
    @import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
    font-family: 'Sigmar One', cursive;
    font-size: 80px;
    text-align: center;
    font-weight: bolder;
    background: url('https://images.pexels.com/photos/2832084/pexels-photo-2832084.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
    animation: animate 10s infinite ease-in-out;
}
@keyframes animate {
    from {
        background-position: 0% 0%;
    }
    to {
        background-position: 100% 100%;
    }
}
.techdark{
    transition: 0.5s;
}

/* DARK MODE */
body.dark div.card {
    transition: 0.5s;
    color: #fff;
    padding: 17px 16px 15px 16px;
    border: 1px solid lightskyblue;
    border-radius: 0.55em;
    background-color: rgb(36, 36, 36);
}
body.dark .wrapper {
    color: #fff;
    transition: 0.5s;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(36, 36, 36);
}
body.dark .test_style {
    color: #00aeff;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}
body.dark .test_style:hover {
    color: rgb(25, 0, 255);
}
body.dark .navbar {
    transition: 0.5s;
    background-image: url('https://w.wallhaven.cc/full/e7/wallhaven-e7ek7k.jpg');
    background-attachment: fixed; 
}
body.dark .parallax {
    transition: 0.5s;
    background-image: url('https://w.wallhaven.cc/full/e7/wallhaven-e7ek7k.jpg');
    height: 250px;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 60px;
    align-items: center;
    position: relative;
}
body.dark .sigmar {
    @import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
    font-family: 'Sigmar One', cursive;
    font-size: 80px;
    text-align: center;
    font-weight: bolder;
    background: url('https://w.wallhaven.cc/full/96/wallhaven-968ol8.jpg');
    color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
    animation: animate 10s infinite ease-in-out;
}
body.dark .tube {
    transition: 0.5s;
    color: #fff;
}
body.dark .navbar_group {
    transition: 0.5s;
    background-color: rgb(65, 65, 72);
}
body.dark .card_logget {
    color: #fff;
    transition: 0.5s;
    border: 1px solid lightskyblue;
    border-radius: 0.55em;
}
body.dark .card-header{
    padding: .5rem 1rem;
    margin-bottom: 0;
    background-color: rgba(202, 202, 202, 0.147);
    border-bottom: 1px solid lightskyblue;
}
body.dark .form-control {
    transition: 0.5s;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: #8d8f927d;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
body.dark .head_swt {
    background: 0 0;
    border: 0;
    color: #a0a8b0;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
}
body.dark .head_swt:hover {
    color: #fff;
}
body.dark .head_swt:after {
    background-color: #fff;
}
body.dark .techdark{
    transition: 0.5s;
    color: #fff;
    background-color: rgb(36, 36, 36);
    border-bottom: 1px solid lightskyblue;
}
body.dark .head_swt.active {
    transition: 0.5s;
    color: #fff;
}