.navbar_group {
    display: flex;
    transition: 0.5s;
    background-color: lightskyblue;
}
div.card {
    color: #000;
    transition: 0.5s;
    border: 1px solid lightskyblue;
    border-radius: 0.55em;
}
.justify {
    padding: 0.3rem 0.7rem 0rem 0.7rem;
    text-align: justify;
    white-space: pre-line;
    word-wrap: break-word;
    margin-top: 1px;
    margin-bottom: 1px;
}
.footer {
    margin-bottom: -0.3%;
    margin-top: -0.3%;
}
h1, h2, h3, h4, h5, p {
    font-family: Arial;
}
.left {
    padding: 0.6rem 0.7rem 0.3rem 0.7rem;
    text-align: left;
}
.right {
    padding: 0.6rem 0.7rem 0.3rem 0.7rem;
    float: right;
}
html, body {
    height: 100%;
}
.wrapper {
    color: #000;
    transition: 0.5s;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.main {
    flex: 1 1 auto;
    overflow: hidden;  /* removed bottom scroll in /auth/logout/ */
}
.test_style {
    color: rgb(25, 0, 255);
    position: relative;
    cursor: pointer;
    text-decoration: none;
}
.test_style:hover {
    color: #00aeff;
}
.techdark{
    transition: 0.5s;
}
#tg-icon{
    transition: 0.5s;
    background-image: url("/static/img/mode/tg.png");
}

/* DARK MODE */

body.dark #tg-icon{
    transition: 0.5s;
    background-image: url("/static/img/mode/dark-tg.png");
}
body.dark div.card {
    transition: 0.5s;
    color: #fff;
    border: 1px solid lightskyblue;
    border-radius: 0.55em;
    background-color: rgb(36, 36, 36);
}
body.dark .wrapper {
    color: #fff;
    transition: 0.5s;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(36, 36, 36);
}
body.dark .test_style {
    color: #00aeff;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}
body.dark .test_style:hover {
    color: rgb(25, 0, 255);
}
body.dark .tube {
    transition: 0.5s;
    color: #fff;
}
body.dark .navbar_group {
    transition: 0.5s;
    background-color: rgb(65, 65, 72);
}
body.dark .card-header{
    padding: .5rem 1rem;
    margin-bottom: 0;
    background-color: rgba(202, 202, 202, 0.147);
    border-bottom: 1px solid lightskyblue;
}
body.dark .form-control {
    transition: 0.5s;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: #8d8f927d;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

body.dark .techdark{
    transition: 0.5s;
    color: #fff;
    background-color: rgb(36, 36, 36);
    border-bottom: 1px solid lightskyblue;
}