#id_group {
    max-height: 2em !important;
    min-height: 2em !important;
}
#id_text  {
    width: 100%;
    line-height:normal;
    resize: none;
    border: 1px solid;
    padding: 8px;
    outline: none;
	-moz-appearance: none;
    float:left;
    font-family: Verdana;
    font-size: 17;
}
.txta {
    transition: 0.5s;
}
body.dark .txta{
    transition: 0.5s;
    background-color: rgb(67, 67, 67);
    color: rgb(228, 224, 224);
}