{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <div class="container py-3">
    <h1>Привет, я автор данного сайта ^-^</h1>
    <div class="row">
      <aside class="col-12 col-md-4">
        <img align="right" width="450" src="https://sun9-east.userapi.com/sun9-29/s/v1/ig2/tVcsEAoFdmgOvyr5QkOBQDbZiz0DvBJEROfSpvsFJk_Zr6_rZVOA_kRIBNjbN6-apDM2VaVgC_0rf46rWJiiowSC.jpg?size=707x724&quality=95&type=album">
      </aside>
      <article class="col-12 col-md-8">
        <h5>Надеюсь вы получили приятные эмоции от посещения сайта.</h5>
        <h5>Терпение и труд <s>всё я устал.</s></h5>
      </article>
    </div>
  </div>
{% endblock %} 