{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <div class="container py-3">
    <h1>Привет, я автор данного сайта ^-^</h1>
    <div class="row">
      <aside class="col-12 col-md-4">
        <img align="left" width="350" src="https://sun9-east.userapi.com/sun9-29/s/v1/ig2/tVcsEAoFdmgOvyr5QkOBQDbZiz0DvBJEROfSpvsFJk_Zr6_rZVOA_kRIBNjbN6-apDM2VaVgC_0rf46rWJiiowSC.jpg?size=707x724&quality=95&type=album">
      </aside>
      <article class="col-12 col-md-8">
        <h5>Надеюсь вы получили приятные эмоции от посещения сайта.</h5>
        <h5>Мои контакты:</h5>
        <div class="social telegram">
          <img width="40" src="/static/img/mode/tg.png">
          @kasschenko
        </div>
      </article>
    </div><hr>
    <h5>Вы находитесь на моём первом проекте в качестве Python-разработчика,
        не стесняйтесь писать посты со своими идеями по улучшению сайта, или оставляйте комментарии
        с пожеланиями в подобных постах. Терпение и труд <s>всё я устал.</s>
    </h5>
  </div>
{% endblock %} 