{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
  <div class="container py-5">
    <div class="row">
      <h1>Технологии</h1>
      <aside class="col-12 col-md-3">
        <ul class="list-group list-group-flush">
          <li class="techdark list-group-item">
            <img src="/static/img/mode/python.png" width="50"> Python
          </li>
          <li class="techdark list-group-item">
            <img src="/static/img/mode/dj.png" width="50"> Django
          </li>
          <li class="techdark list-group-item">
            <a class="link_about" href="https://github.com/clownvkkaschenko">
              <img src="/static/img/mode/github.png" width="50"> GitHub
            </a>
          </li>
        </ul>
      </aside>
      <article class="col-12 col-md-9">
        <h1 class="text_error">Python просто лучший</h1>
      </article>
    </div>
  </div>
{% endblock %}