{% extends 'base.html' %}
{% block title %}Мои подписки на YaTube{% endblock %}
{% block header %}
  {% include 'includes/header.html' %}
{% endblock %}
{% block content %}
  <div class="parallax">
    <h1 class="sigmar">Social network YaTube</h1>
    <div class="mask"></div>
  </div>
  <div class="container py-3">
    {% if subscriptions.count > 0 %}
      <h1 class="contents">Записи выбранных авторов</h1>
    {% else %}
      <h1 class="contents">У вас нет любимых авторов</h1>
    {% endif %}
    {% load cache %}
    {% cache 1 index_page %}
      {% for post in page_obj %}
        <div class="card">
          {% include 'includes/article.html' %}
        </div>
        {% if not forloop.last %}<br>{% endif %}
      {% endfor %}
    {% endcache %} 
    {% include 'includes/paginator.html' %}
  </div>
{% endblock %}