{% extends 'base.html' %}
{% block title %}
  {{ group.title }}
{% endblock %}
{% block content %}
  <div class="container py-5">
    <h1>{{ title }}</h1>
    <p>
      {{ group.description }}
    </p>
    {% for group in posts %}
    <div class="card">
      <div class="card_body">
        <article>
          <table width="100%">
            <tr>
              <td align="left">
                Автор: {{ group.author.get_full_name }}
              </td>
              <td align="right">
                Дата публикации: {{ group.pub_date|date:"d E Y" }}
              </td>
            </tr>
          </table>
          <p align="justify">
            {{ group.text }}
          </p>
        </article>
       </div>
      </div>
      {% if not forloop.last %}<br>{% endif %}
    {% endfor %}
  </div>
{% endblock %}