{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
  {% load user_filters %}
  {% load thumbnail %}
  <div class="container py-4">
    <div class="row">
      <aside class="col-md-4">
        <ul class="list-group list-group-flush">
          <li class="techdark list-group-item">
            Автор: 
            <a href="{% url 'posts:profile' posts.author.username %}" class="test_style">
              {{ posts.author.get_full_name }}@{{  posts.author.username  }}
            </a>
          </li>
          <li class="techdark list-group-item">
            Подписчиков: {{ subscribers.count }}<br>
            Подписок: {{ subscriptions.count }}
          </li>
          <li class="techdark list-group-item d-flex justify-content-between align-items-center">
            Всего записей: {{ author.posts.count }}
          </li>
          {% if posts.image %}
            <li class="techdark list-group-item"> 
              <a href="{{ posts.image.url }}" class="test_style">
                Оригинал картинки
              </a>
            </li>
          {% endif %}
          {% if author.username == user.username %}
            <li class="techdark list-group-item">
              <a href="{% url 'posts:post_delete' posts.id %}" class="test_style">
                Удалить запись
              </a>
            </li>
          {% endif %}
        </ul>
      </aside>
      <article class="col-md-8">
        <div class="card">
          {% thumbnail posts.image "1280x420" crop="center" upscale=True as im %}
            <img style="border-radius: 0.55em 0.55em 0.35em 0.35em;" class="card-img my-0" src="{{ im.url }}">
          {% endthumbnail %}
          <div class="col">
            <div class="right">
              {% if posts.group %}
                <a href="{% url 'posts:group_list' posts.group.slug %}" class="test_style">
                  {{ posts.group }}
                </a>
              {% endif %}
            </div>
            <div class="left">
              <a href="{% url 'posts:profile' posts.author %}" class="test_style">
                {{ posts.author.get_full_name }} @{{ posts.author.username }}
              </a>
            </div>
          </div>
          <p class="justify">{{  posts.text  }}</p>
          <div class="col">
            {% if author.username == user.username %}
              <div class="right">
                <a href="{% url 'posts:post_edit' posts.id %}" class="test_style">
                  Редактировать запись
                </a>
              </div>
            {% endif %}
            <div class="left">
              {% load tz %}{{ posts.pub_date|timezone:"Europe/Moscow" }}
            </div>
          </div>
        </div>
        {% if user.is_authenticated %}
          <button class="btn_comment my-3">
            Написать комментарий
          </button>
          <div style="display: none" class="form_comments">
            <form method="post" action="{% url 'posts:add_comment' posts.id %}">
              {% csrf_token %}
              <div class="form-group row my-1 p-2">
                {{ form.text|addclass:'form-control' }}
              </div>
              <button type="submit" class="btn btn-primary">Отправить</button>
            </form>
          </div>
        {% else %}
          <form action="{% url 'users:login' %}">
            <button class="btn_comment my-3">
              Войдте в свой аккаунт, что-бы написать комментарий.
            </button>
          <form>
        {% endif %}<br>
        {% if comments.count %}
          <h5>Комментарии:</h5>
        {% endif %}
        {% for comment in comments %}
          <div class="card">
            <div class="media mb-0">
              <div class="right">
                {% load tz %}{{ comment.created|timezone:"Europe/Moscow" }}
              </div>
              <div class="left">
                  <a href="{% url 'posts:profile' comment.author.username %}" class="test_style">
                    @{{ comment.author.username }}
                  </a>
              </div>
              <p style="padding: 0.3rem 0.7rem 0.5rem 0.7rem;" class="justify">{{ comment.text }}</p>
              {% if comment.author.username == user.username %}
                <div class="left">
                  <a href="{% url 'posts:delete_comment' comment.id %}" class="test_style">
                    Удалить комментарий
                  </a>
                </div>
              {% endif %}
            </div>
          </div>
          {% if not forloop.last %}<br>{% endif %}
        {% endfor %}
      </article>
    </div>
  </div>
{% endblock %}