{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
  {% load thumbnail %}
  {% load user_filters %}
  <div class="container py-5">
    <div class="row">
      <aside class="col-12 col-md-4">
        <ul class="list-group list-group-flush">
          <li class="techdark list-group-item">
            Дата публикации: {{ posts.pub_date|date:"d E Y, H:i" }}
          </li>
          {% if posts.group %}
            <li class="techdark list-group-item">
              Группа: 
              <a href="{% url 'posts:group_list' posts.group.slug %}" class="test_style">
                {{  posts.group  }}
              </a>
            </li>
          {% endif %}
          <li class="techdark list-group-item">
              Автор: 
            <a href="{% url 'posts:profile' posts.author.username %}" class="test_style">
              {{ posts.author.get_full_name }}@{{  posts.author.username  }}
            </a>
          </li>
          <li class="techdark list-group-item d-flex justify-content-between align-items-center">
            Всего постов автора: {{ cnt }}
          </li>
        </ul>
      </aside>
      <article class="col-12 col-md-8">
        <div class="card">
          {% thumbnail posts.image "1280x420" crop="center" upscale=True as im %}
            <img style="border-radius: 0.55em 0.55em 0.35em 0.35em;" class="card-img my-0" src="{{ im.url }}">
          {% endthumbnail %}
          <p class="justify">{{  posts.text  }}</p>
        </div><br>
        {% if author.username == user.username %}
          <a class="btn btn-primary" href="{% url 'posts:post_edit' posts.id %}">
            Редактировать запись
          </a> 
        {% endif %}
      </article> 
    </div> 
  </div> 
{% endblock %}