{% extends 'base.html' %}
{% block title %}
  {{ title }}
{% endblock %}
{% block content %}
  <div class="container py-3">
    <div class="row">
      <aside class="col-12 col-md-4">
        <ul class="list-group list-group-flush">
          <li class="techdark list-group-item">
            Дата публикации: {{ posts.pub_date|date:"d E Y, H:i" }}
          </li>
          {% if posts.group %}
            <li class="techdark list-group-item">
              Группа: 
              <a href="{% url 'posts:group_list' posts.group.slug %}" class="test_style">
                {{  posts.group  }}
              </a>
            </li>
          {% endif %}
          <li class="techdark list-group-item">
              Автор: 
            <a href="{% url 'posts:profile' posts.author %}" class="test_style">
              {{ author.get_full_name }}@{{  author.username  }}
            </a>
          </li>
          <li class="techdark list-group-item d-flex justify-content-between align-items-center">
            Всего постов автора: {{ cnt }}
          </li>
        </ul>
      </aside>
      <article class="col-12 col-md-8">
        <div class="card">
          <p class="justify">{{  posts.text  }}</p>
        </div>
      </article> 
    </div> 
  </div> 
{% endblock %}