{% extends 'base.html' %}
{% block title %}
  {{ author.get_full_name }}@{{  author.username  }} профайл пользователя
{% endblock %}
{% block content %}
  <div class="container py-3">
    <h1>Профиль пользователя: {{ author.get_full_name }}@{{  author.username  }} </h1>
    <h3>Зарегестрировался на сайте: {% load tz %}{{ author.date_joined|timezone:"Europe/Moscow" }}(по мск.)</h3>
    <h5>Всего постов на этом сайте: {{ posts.count }} </h5>
    {% for post in page_obj %}
      <div class="card">
        <div class="card_body">
          <article>
            <ul style="padding-left: 0">
              <li class="left" style="list-style-type: none">
                Автор: {{ author.get_full_name }}@{{  author.username  }}
              </li>
              <li class="right" style="list-style-type: none">
                Дата публикации: {{ post.pub_date|date:"d E Y, H:i" }}
              </li>
            </ul>
            <p class="justify">{{ post.text }}</p>
            {% if post.group %}
              <a href="{% url 'posts:group_list' post.group.slug %}" class="test_style">
                {{  post.group  }}
              </a>
            {% endif %}
          </article>
          <a href="{% url 'posts:post_detail' post.id %}" class="test_style">
            Подробная информация
          </a>
        </div>
      </div>
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
    {% include 'includes/paginator.html' %}
  </div>
{% endblock %}